<html lang="de" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

	<!-- Fußzeile -->
	<footer class="page-footer footer-expand-lg bg-primary fixed-bottom">
		<div class="container">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link" style="color: white" th:href="@{/legalNotices}">Impressum</a>
				</li>
				<li class="nav-item"><a class="nav-link" style="color: white" th:href="@{/termsOfService}">AGB</a>
				</li>
				<li class="nav-item"><a class="nav-link" style="color: white" th:href="@{/contacts}">Kontakt</a>
				</li>
			</ul>
		</div>
	</footer>
</div>