<html lang="de" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}"/>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <!--Bild entweder als Knopf oder nur Bild-->
        <div sec:authorize="!isAuthenticated()">
            <a class="navbar-brand" th:href="@{/dashboard}"><img th:src="@{/img/Logoklein.png}" class="img-fluid"
                                                                 width="50"
                                                                 height="50" alt="Responsive image"></a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="navbar-brand" th:href="@{/dashboard}"><img th:src="@{/img/Logoklein.png}" class="img-fluid"
                                                                 width="50" height="50"
                                                                 alt="Responsive image"></a>
        </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav list-inline mr-auto">

                <!--Home Knopf-->
                <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item active mr-2"><a class="nav-link" th:href="@{/dashboard}">LTVT <span
                            class="sr-only">(current)</span>
                    </a></li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item active mr-2"><a class="nav-link" th:href="@{/dashboard}">LTVT <span
                            class="sr-only">(current)</span></a></li>
                </div>

            </ul>

            <!--Registrieren und Anmelden-->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}" class="btn btn-secondary mr-sm-2" role="button" aria-pressed="true">Registrieren</a>
                <a th:href="@{/login}"
                   class="btn btn-secondary mr-sm-2" role="button" aria-pressed="true">Login</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="row p-2 justify-content-end d-flex">

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" aria-pressed="true"> Menü</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/index}"><i class="fas fa-home">
                            </i>Startseite
                            </a>
                            <a class="dropdown-item" th:href="@{/asknewquestion}"><i class="fas fa-plus">
                            </i> Frage stellen
                            </a>
                            <a class="dropdown-item" th:href="@{/displayUserQuestions}">
                                <i class="fas fa-list-ul"></i> Gestellte Fragen
                            </a>
                            <a class="dropdown-item" th:href="@{/displayUserAnswers}">
                                <i class="fas fa-check"></i> Meine Antworten
                            </a>
                            <a class="dropdown-item" th:href="@{/displayUserBookmarks}">
                                <i class="far fa-bookmark"></i> Lesezeichen
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</div>