<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #accepted {
            padding-right: 10px;
            color: green;

        }#unaccepted {
            padding-right: 10px;
        }

        .jumbotron {
            padding-top: 1.5rem;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col-sm justify-content-around d-flex">
                <form th:action="@{/dashboard}" method="post">
                    <button class="btn btn-secondary mr-2" name="date" type="submit" data-trigger="hover" title="Nach Datum auf- oder absteigend sortieren">
                        Datum <i class="fas fa-arrows-alt-v"></i>
                    </button>
                    <button class="btn btn-secondary mr-2" name="answers" type="submit" data-trigger="hover" title="Nach Anzahl der Antworten auf- oder absteigend sortieren">
                        Anzahl der Antworten <i class="fas fa-arrows-alt-v"></i>
                    </button>
                    <button class="btn btn-secondary mr-2" name="unanswered" type="submit" data-trigger="hover" title="Nur unbeantwortete Fragen anzeigen">
                        Nur unbeantwortet
                    </button>
                    <button class="btn btn-secondary mr-2" name="answered" type="submit" data-trigger="hover" title="Alle ungelösten Fragen anzeigen">
                        Nur ungelöst <i class="fas fa-question-circle"></i>
                    </button>
                </form>
            </div>
        </div>

        <br>

        <ul>
            <li th:each="question : ${questions}">
                <a th:href="@{/displayQuestion(questionId=${question.id})}"
                   class="list-group-item mb-1 list-group-item text-dark" style="border-color: black">
                    <div class="row">
                        <div class="col justify-content-left d-flex flex-row"><!--Icon und Titel-->
                            <div th:if="${question.isAnswered()}">
                                <i id = "accepted" class="fas fa-check-circle"></i>
                            </div>

                            <div th:if="${not question.isAnswered()}">
                                <i id= "unaccepted" class="fas fa-question-circle"></i>
                            </div>
                            <h5 th:text="${question.title}">Titel</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col justify-content-left"><!--Vorschau-->
                            <span th:text="${question.substring}"></span>
                        </div>
                        <div class="w-100"></div>
                        <div class="col justify-content-left"><!--Anzahl Antworten-->
                            <span class="badge badge-dark badge-pill" th:text="${question.numberOfAnswers}"></span>
                            <span> Antworten</span>

                        </div>
                        <div class="col justify-content-end d-flex"><!--Autor, Datum-->
                            <span th:text="'am ' + ${#dates.format(question.date, 'dd.MM.yyyy')} + ' um ' + ${#dates.format(question.date, 'HH:mm')}">Datum</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>

<!-- Fußzeile -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>