<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title>LTVT</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #question {
            background-color: white;
        }

        .far.fa-check-circle {
            color: #A3A3A3;
        }

        .fas.fa-check-circle {
            color: green;
        }

        #alertIcon {
            color: green;
            padding-right: 10px;
        }

        .jumbotron {
            margin-top: 10px;
        }

        textarea {
            resize: none;
        }

        .accept {
            padding: 0;
            margin: 0;
        }

        #bookmark {
            padding: 0;
            margin: 0;
        }

        #marked {
            font-size: 120%;
            margin: 0;
            padding: 0;

        }#unmarked {
            font-size: 120%;
            color: #A3A3A3;
            margin: 0;
            padding: 0;
        }

        #whitespace {
            width: 10px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="jumbotron">

        <div class="d-flex flex-column">

            <div th:if="${isAnswered == true}" class="alert alert-success">
                <span class="text text-center"><i id="alertIcon" class="fas fa-check-circle"></i>Diese Frage ist beantwortet.</span>
                <br>
            </div>

<!--==================================================================================================================================================-->
<!--Titel-->

            <div class="d-flex flex-row"> <!--Bookmark-Icon + Titel-->
                <form th:action="@{/displayQuestion}" method="post">
                    <input type="hidden" class="form-control" name="bookmarkQuestionId" id="bookmarkQuestionId"
                           th:value="${question.id}"/>
                    <button type="submit" name="bookmark" id="bookmark" class="btn justify content-end"
                            sec:authorize="isAuthenticated()" style="background-color:transparent">
                        <div th:if="${not bookmark}" class="d-flex flex-row">
                            <i id="unmarked" class="far fa-bookmark"></i>
                            <div id="whitespace"></div>
                        </div><div th:if="${bookmark}" class="d-flex flex-row">
                            <i id="marked" class="fas fa-bookmark"></i>
                            <div id="whitespace"></div>
                        </div>
                    </button>
                </form>
                <h4 th:text="${question.title}">Titel</h4>
            </div>

            <br>

<!--==================================================================================================================================================-->
<!--Frage-->

            <label for="question" th:text="${questioner.username} + ' schreibt:'"></label>
            <textarea id="question" class="form-control" rows="5" disabled="disabled" th:text="${question.description}">Description</textarea>

            <br>

<!--==================================================================================================================================================-->
<!--Antworten-->

            <div th:if="${isAnswered == true}">
                <i class="fas fa-check-circle"></i>
                <label for="acceptedAnswer" th:text="${acceptedAnswer.author.username} + ' schreibt:'"></label>
                <textarea id="acceptedAnswer" class="form-control" th:text="${acceptedAnswer.content}">Content</textarea>
                <br>
            </div>

            <ul>
                <li th:each="answer : ${answers}" style="border: 1px black">
                    <!-- Answers -->
                    <button class="accept btn" th:if="${nutzer == questioner.username && isAnswered == false}"
                            th:attr="data=${answer.id}" style="background-color:transparent" data-toggle="modal"
                            data-target="#acceptModal">
                        <i class="far fa-check-circle"></i>
                    </button>
                    <label for="answer" th:text="${answer.author.username} + ' schreibt:'"></label>
                    <textarea id="answer" class="form-control" th:text="${answer.content}">Content</textarea>
                    <br>
                </li>
            </ul>

            <div sec:authorize="isAuthenticated()">
                <button class="btn btn-primary" data-toggle="modal" data-target="#answerModal">Antworten</button>
            </div>
        </div>

    </div>
</div>

<!--==================================================================================================================================================-->
<!--Modals-->

<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="answerModalLabel">Geben Sie Ihre Antwort ein:</h5>
            </div>
            <form action="#" th:action="@{/displayQuestion}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="answerInput" class="col-form-label">Antwort: </label>
                        <br>
                        <textarea name="u_answer" class="form-control" id="answerInput"></textarea>
                        <input type="hidden" class="form-control" name="questionId" id="questionId"
                               th:value="${question.id}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" name="answerQuestion" value="answerQuestion" class="btn btn-primary" onclick="return validate()">Senden
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptModalLabel">Diese Antwort akzeptieren?</h5>
            </div>
            <form action="#" th:action="@{/displayQuestion}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Das Akzeptieren einer Antwort markiert die Frage als gelöst.</span>
                        <input type="hidden" class="form-control" name="acceptQuestionId" id="acceptQuestionId"
                               th:value="${question.id}"/>
                        <input type="hidden" class="form-control" name="acceptAnswerId" id="acceptAnswerId"
                               value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" name="acceptAnswer" value="acceptAnswer" class="btn btn-success">Akzeptieren</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Fußzeile-->
<div th:replace="fragments/footer :: footer"></div>

<script>
    document.querySelectorAll(".accept").forEach(function (acceptBtn) {
        acceptBtn.addEventListener("click", function () {
            var answerId = acceptBtn.getAttribute("data");
            document.querySelector("#acceptAnswerId").value = answerId;
        }, false);
    });

    function validate() {
        var answer = $('#answerInput').val();

        if (answer == "") {
            alert("Bitte Antwort eingeben");
            return false;
        } else if (answer.length < 5) {
            alert("Antwort zu kurz, mindestens 5 Zeichen nötig.");
            return false;
        } else if (answer.length > 5000) {
            alert("Antwort zu lang, maximal 5000 Zeichen erlaubt");
            return false;
        } else {
            return true;
        }
    }
</script>

</body>
</html>