<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>LTVT</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .jumbotron {
            margin-top: 10px;
        }

        #accepted {
            padding-right: 10px;
            color: green;

        }#unaccepted {
             padding-right: 10px;}
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="jumbotron">

        <h1 class="display-5" th:if="${not #lists.isEmpty(questions)}">Hier werden alle von dir mit Lesezeichen versehenen Fragen angezeigt</h1>

        <div th:if="${#lists.isEmpty(questions)}">
            <h1 class="display-5">Du hast leider noch keine Fragen zu deinen Lesezeichen hinzugefügt
                <i class="far fa-frown"></i>
            </h1>
        </div>
        <br><br>
        <ul>
            <li th:each="question : ${questions}">
                <!-- Link -->
                <a th:href="@{/displayQuestion(questionId=${question.id})}" class="list-group-item mb-1 list-group-item text-dark" style="border-color: black">
                <div class="row">
                    <div class="col justify-content-left d-flex flex-row">
                        <!-- Icon und Titel-->
                        <div id="accepted" th:if="${question.isAnswered()}">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div id="unaccepted" th:if="${not question.isAnswered()}">
                            <i class="fas fa-question-circle"></i>
                        </div>
                        <b><span th:text="${question.title}">Titel</span></b>
                    </div>
                    <div class="col justify-content-end d-flex">
                        <!-- Date -->
                        <span th:text="${#dates.format(question.date, 'dd.MM.yyyy HH:mm')}">Datum/Uhrzeit</span>
                    </div>
                </div>
            </a>
            </li>
        </ul>

    </div>
</div>

<!-- Fußzeile -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>