<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>LTVT</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">


    <section class="section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img th:src="@{/img/Logo.png}" class="img-fluid" alt="Responsive image" src="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                    <div>
                        <h2>Willkommen bei LTVT,</h2>
                        <p class="margin-top-s">der Plattform für Fragen aller Art.<br/><br/> Die Q&A Plattform LTVT
                            bietet Ihnen die Möglichkeit zu jeder ihrer Fragen die passenden Antworten zu finden,
                            wie auch anderen Nutzern mit Ihren Antworten zu helfen.
                            <br/>Registrieren Sie sich <a th:href="@{register}">hier</a>, damit auch Sie Ihre Q&A-Experience starten können. </p>
                            <br>

                        <div class="row p-2">
                        <a class="btn btn-primary" th:href="@{dashboard}">Browse Questions >></a>
                        <div sec:authorize="isAuthenticated()">
                            <a class="btn btn-primary ml-2" th:href="@{asknewquestion}">Frage stellen >></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<!-- Fußzeile -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>